.side_bar{
    height: 100vh;
    flex:0.2;
    color: white;
    height: 100vh;
    padding-left: 10px;
    padding-right: 10px;
    min-width: 230px;
    background-color:black;
}

.sidebar_logo{
    margin-right: auto;
    height:70px;
    padding: 10px;

}
.side_bar > hr{
    border: 1px solid #282828;
    width: 90%;
    margin:10px auto;
}

.sidebar_title{
    margin-left: 10px;
    padding: 5px;
    font-size: 12px;
}